@use "colors" as c;
@use "mixins" as m;

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  width: 100%;
  height: 60px;
  background-color: c.$bg;

  @include m.rwdByMaxWidth(medium) {
    padding: 0 1rem;
  }

}

.logo {
  display: flex;
  background-image: url('../../../../../../assets/images/favicon-32x32.png');
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
}

.row {
  display: flex;
  align-items: center;

  &>*:not(:last-child) {
    margin-right: 0.3rem;
  }

  app-select {
    max-width: 123px;

  }
}
