@use "colors" as c;
@use "variables" as v;
@use "mixins" as m;

@include m.page-with-sticky-titles();
@include m.tag();

.web-type-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  margin-bottom: 1rem;

  &>app-select {
    margin: 0 0.4rem;
  }
}

.demand {
  background-color: c.$tag-bg;
  color: light-dark(var(--reddish-purple-500), var(--reddish-purple-50));
  margin-right: auto;
  margin-left: 1rem;
  border: none;
}

.advantage {
  margin-top: 0.8rem;
  margin-left: 1rem;
  padding-bottom: 3rem;
}

pre {
  text-wrap: normal;
  white-space: pre-wrap;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}