@use "colors" as c;

ul {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 130%);
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 50vh;
  padding: 0 1rem;
  padding-top: 1rem;
  border-radius: 16px 16px 0 0;
  background-color: c.$surface;
  overflow: auto;
  opacity: 0;
  transition: 0.1s;

  p {
    color: c.$primary;
    font-size: 14px;
  }
  li {
    width: 100%;
    padding: 1rem;
    font-size: 1.25rem;
    border-bottom: 1px solid c.$light-on-surface-variant;
  }
}

.show {
  opacity: 1;
  transform: translate(-50%, 100%);
}
