@use "colors" as *;

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  /* font-smoothing：只在 macOS Safari/Firefox 可能有感，其他平台會忽略 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /** scroll bar **/
  scrollbar-width: thin;
  scrollbar-color: var(--sb-thumb) var(--sb-track);

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body,
html {
  width: 100vw;
  height: 100vh;
}

button,
input,
select,
textarea {
  font: inherit;
  border: none;
  outline: none;

  &::placeholder {
    color: $neutral-50;
  }
}



ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
