@use "colors" as c;

div {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 50vh;
  padding-top: 0.5rem;
  border-radius: 0 0 8px 8px;
  background-color: c.$dialog-bg;
  overflow: auto;
  opacity: 0;
  transform-origin: top;
  transform: scaleY(0.8);
  transition: transform 0.1s ease-out, opacity 0.07s ease-in;
  box-shadow: c.$dialog-shadow;

  &.show {
    transform: scaleY(1);
    opacity: 1;
  }

  &.isAboveAnchor {
    border-radius: 8px 8px 0 0;
  }

  &.mobile {
    border-radius: 24px 24px 0 0;

    ul {
      overflow-y: auto;

      li {
        padding: 0.5rem 2rem;
        font-size: 1.3rem;
      }
    }

  }

  p {
    padding-left: 1.5rem;
    font-size: 1rem;
    color: c.$neutral-50;
  }

  li {
    cursor: pointer;
    padding: 0.3rem;
    padding-left: 1.5rem;
    font-size: 1rem;

    &:hover,
    &:active {
      background-color: c.$dialog-bg-hover;
    }
  }
}