@use "colors" as c;

ul {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 50vh;
  padding-top: 0.5rem;
  border-radius: 0 0 8px 8px;
  background-color: c.$dialog-bg;
  overflow: auto;
  opacity: 0;
  transform-origin: top;
  transform: scaleY(0.8);
  transition: transform 0.1s ease-out, opacity 0.07s ease-in;
  box-shadow: c.$dialog-shadow;

  &.show {
    transform: scaleY(1);
    opacity: 1;
  }

  &.isAboveAnchor {
    border-radius: 8px 8px 0 0;
  }

  p {
    color: c.$primary-500;
    font-size: 14px;
  }

  li {
    cursor: pointer;
    padding: 0 0.5rem 0.5rem 0.5rem;
    font-size: 1rem;

    &:hover,
    &:active {
      background-color: c.$dialog-bg-hover;
    }
  }
}
