// $primary-palette: (
//     0: #000000,
//     5: #151100,
//     10: #221B00,
//     15: #2D2500,
//     20: #3A3000,
//     25: #463B00,
//     30: #534600,
//     35: #615200,
//     40: #6E5D00,
//     50: #8B7600,
//     60: #A88F00,
//     70: #C7AA00,
//     80: #E5C524,
//     90: #FFE25E,
//     95: #FFF1BE,
//     98: #FFF9EE,
//     99: #FFFBFF,
//     100: #FFFFFF
// );

// $tertiary-palette: (
//     0: #000000,
//     5: #001508,
//     10: #00210F,
//     15: #002D16,
//     20: #083820,
//     25: #17432A,
//     30: #234F35,
//     35: #2F5B40,
//     40: #3B684B,
//     50: #548162,
//     60: #6D9B7B,
//     70: #87B694,
//     80: #A2D2AF,
//     90: #BDEECA,
//     95: #CBFDD8,
//     98: #E9FFEC,
//     99: #F5FFF4,
//     100: #FFFFFF
// );