// @use '@angular/material' as mat;
// @use './colors' as c;

// $light-theme: mat.define-theme((color: (primary: mat.$blue-palette,
//                 tertiary: mat.$violet-palette,
//             ),
//             typography: (brand-family: 'Roboto',
//                 plain-family: 'Arial, sans-serif',
//             ),
//             density: (scale: 0),
//         ));


// $dark-theme: mat.define-theme((color: (primary: mat.$blue-palette,
//                 tertiary: mat.$violet-palette,
//             ),
//             density: (scale: 0)));