<div class="code-block">
  <div class="code-content {{ toggleExpand ? 'expand' : '' }}">
    @if (hasExpandBtn) {
    <button (click)="toggleExpand = !toggleExpand">{{(toggleExpand ? '收合' : '展開') |t}}</button>
    }
    @if(highlightedCode() && ((hasExpandBtn && toggleExpand !== false) || !hasExpandBtn)) {
    <button class="copy-btn" (click)="copyCode()">
      {{ (copied() ? '已複製' : '複製' )|t}}
    </button>
    <pre><code [class]="language" [innerHTML]="highlightedCode()"></code></pre>
    }@else {
    <div class="placeholder">...</div>
    }
  </div>


</div>
