// @use "variables" as v;

::ng-deep app-spinner,
p {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  // z-index: map-get(v.$z-index, "globalLoading");
  z-index: 1;

  svg {
    width: 50px;
    height: 50px;
  }
}