@use "colors" as c;
@use "variables" as v;

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  /* font-smoothing：只在 macOS Safari/Firefox 可能有感，其他平台會忽略 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /** scroll bar **/
  scrollbar-width: thin;
  scrollbar-color: var(--sb-thumb) var(--sb-track);

}

p,
pre {
  font-size: 1rem;
  line-height: 30px;
  text-wrap: normal;
  white-space: pre-wrap;
}

h1 {
  line-height: 2.5rem;
  font-size: 2rem;
}

h2 {
  line-height: 1.9rem;
  font-size: 1.5rem;
}

h3 {
  line-height: 1.4rem;
  font-size: 1.2rem;
}

h4 {
  font-size: 0.5rem;
}

a.link {
  color: c.$primary-300;
}

button {
  cursor: pointer;
  margin-left: 0.4rem;
  font-size: 1rem;
  line-height: 1rem;
  background-color: light-dark(var(--brown-100), var(--brown-400));
  color: c.$link;
  border: 1px solid light-dark(var(--brown-400), var(--brown-400));
  border-radius: map-get(v.$border-radius , sm);
  padding: 0.1rem 0.2rem;
}
