<!-- <div class="container {{ data.type }}">
  <div class="header">
    <p>{{ data.title }}</p>
    <button class="close-btn" mat-icon-button (click)="closeDialog(ACTION.CANCEL)">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="main">
    <p [innerHTML]="data.content"></p>
  </div>
  <div class="foot">
    @if (data.cancelBtn) {
      <p (click)="closeDialog(ACTION.CANCEL)">{{ data.cancelBtn || '取消' }}</p>
    }
    <button mat-flat-button (click)="closeDialog(ACTION.CONFIRM)">{{ data.confirmBtn || '確定' }}</button>
  </div>
</div> -->
