<app-header [isMobile]="viewportService.isMobileSig()"></app-header>
<div class="layout-main">
  <app-icon-button class="source-icon" (click)="openSourceDialog()">
    <span class="source-count">{{i18nSourceService.namespaceCount}}</span>
    <app-icon-list-left></app-icon-list-left>
  </app-icon-button>

  <app-side-nav></app-side-nav>
  <main>
    <div class="left">
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
    <div class="right">
      <app-anchor-list></app-anchor-list>
    </div>
  </main>
</div>