// @use "colors" as c;

// ul {
//   display: flex;
//   background-color: c.$surface-container;
//   li {
//     display: flex;
//     flex: 1;
//     height: 96px;
//     &.active {
//       div {
//         em,
//         a {
//           color: c.$primary;
//         }
//       }
//     }

//     div {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       margin: auto;
//       margin-bottom: 37px;
//       em {
//         font-size: 23px;
//         color: c.$on-surface;
//       }
//       a {
//         margin-top: 6px;
//         font-size: 0.875rem;
//         color: c.$neutral-50;
//       }
//     }
//   }
// }