@use "variables" as v;
@use "colors" as c;

@mixin field {
  border: 1px solid c.$outline;
  border-radius: map-get(v.$border-radius , sm);
  padding: 0.6rem 0.5rem;

  input {
    background-color: transparent;
  }
}

@mixin icon {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  vertical-align: middle;
  fill: none;
  stroke: c.$icon-font;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

@mixin icon-btn {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: map-get(v.$border-radius , md);

  &:hover {
    background-color: c.$bg-hover;
  }

  &:active {
    background-color: red;
  }
}

/** 模擬按鈕的互動樣式 **/
@mixin btnLike($Displacement: false) {
  cursor: pointer;
  transition: 0.2s;

  &:not(:disabled):hover {
    font-weight: 800;

    @if $Displacement {
      margin-left: 0.6rem;
    }
  }

  &:disabled {
    cursor: default;
  }
}